<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div>
                <p-breadcrumb [model]="breadcrumbArray"></p-breadcrumb>
            </div>
        </div>
        <div class="col-8">
            <h2>View Inventory Items</h2>
        </div>
    </div>
    <br *ngFor="let number of breadcrumbArray" />
    <div class="row">
        <form [formGroup]="checkSearchForm" (ngSubmit)="search(checkSearchForm.value)">
            <div class="col2">
                <label class="input-label">Item #:</label>
                <input formControlName="itemname" type="text" pInputText placeholder="">
            </div>
            <div class="col2">
                <label class="input-label">Keyword #:</label>
                <input formControlName="keyword" type="text" pInputText placeholder="">
            </div>
            <div class="col8">
                <p-button class="search-button" label="Search"></p-button>
            </div>
        </form>
    </div>
    <br *ngFor="let number of breadcrumbArray" />
    <div class="row">
        <p-table [value]="items" *ngIf="!IfSearch">
            <ng-template pTemplate="header">
                <tr style=" text-align:center">
                    <th>Item#</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Condition</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr style=" text-align:center">
                    <td [routerLink] = "[item.id]" 
                    style="color:blue;  cursor: pointer; text-align:center" 
                    >{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ departmentName }}</td>
                    <td>{{ categoryName }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <label *ngIf="item.condition === 1">
                            New
                        </label>
                        <label *ngIf="item.condition === 2">
                            Good
                        </label>
                        <label *ngIf="item.condition === 3">
                            Average
                        </label>
                        <label *ngIf="item.condition === 4">
                            Bad
                        </label>
                    </td>
                    <td style=" text-align:center">{{ item.quantity }}</td>
                    <td style=" text-align:center">{{ item.price }}</td>
                </tr>
            </ng-template>
        </p-table>
        <p-table [value]="showItems" *ngIf="IfSearch">
            <ng-template pTemplate="header">
                <tr style=" text-align:center">
                    <th>Item#</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Condition</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-showItems>
                <tr style=" text-align:center">
                    <td [routerLink] = "[showItems.id]" style="color:blue; text-decoration: underline;">{{ showItems.id }}</td>
                    <td>{{ showItems.name }}</td>
                    <td>{{ departmentName }}</td>
                    <td>{{ categoryName }}</td>
                    <td>{{ showItems.description }}</td>
                    <td>
                        <label *ngIf="showItems.condition === 1">
                            New
                        </label>
                        <label *ngIf="showItems.condition === 2">
                            Good
                        </label>
                        <label *ngIf="showItems.condition === 3">
                            Average
                        </label>
                        <label *ngIf="showItems.condition === 4">
                            Bad
                        </label>
                    </td>
                    <td>{{ showItems.quantity }}</td>
                    <td>{{ showItems.price }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="footer-copyright text-center py-3">
        <p-button [routerLink] = "['addItem']" label="Add Item"></p-button>
    </div>
</div>