<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div style="padding-bottom: 15px">
                <a routerLink="/department" style="font-size: 28px">Department</a>
            </div>
            <div *ngFor = "let department of departments">
                <a [routerLink] = "['/department', department.name] " style="font-size: 16px">{{department.name}}</a>
            </div> 
        </div>
        <div class="col-6">
            <div style="padding-bottom: 15px">
                <p-breadcrumb [model]="breadcrumbArray"></p-breadcrumb>
            </div>
            <mat-grid-list cols="4" rowHeight="1:1">
                <mat-grid-tile 
                *ngFor = "let category of categories" 
                [routerLink] = "[category.name]"
                [style.background]="lightblue">
                {{category.name}}</mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="col">
            <p>Hello</p>
        </div>

    </div>
</div>
 