input{
    width: 65%;
    padding: 12px 20px;
    margin: 8px 15px 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#id1{
    padding: 9px 0px;
    margin: 10px 0px 10px 90px;
    font-size: 16px;
}
p-dropdown{
    margin: 8px 0;
    width: 100%;
}