input{
    width: 65%;
    padding: 12px 20px;
    margin: 8px 5px 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#id1{
    margin: 0px 0px 38px 120%;
    font-size: 16px;
}
p-dropdown{
    margin: 8px 0;
    width: 100%;
}