<div class="row">
  <div class="col-2"></div>
  <div class="col-2 addDep">Add/Edit Department</div>
</div>



<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Name: </label>
    <input type="text"  id="formGroupExampleInput" placeholder="">
    <label class="func">Delete Department</label>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Description: </label>
    <input type="text"  id="formGroupExampleInput2" placeholder="">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput3">POS DepartmentCode: </label>
    <input type="text"  id="formGroupExampleInput3" placeholder="">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput4">Unique Tag: </label>
    <input type="text"  id="formGroupExampleInput4" placeholder="">
  </div>
</form>


<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-1">
    <p-button class="cancel-button" label="Cancel"></p-button>
  </div>

  <div class="col-md-1">
    <p-button class="save-button" label="Save"></p-button>
  </div>
</div>
