<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div style="padding-bottom: 15px">
                <a routerLink="/department" style="font-size: 28px">Department</a>
            </div>
            <div *ngFor = "let department of departments">
                <a
                [routerLink] = "['/department', department.name] " 
                routerLinkActive="on"  
                style="font-size: 16px"
                >
                {{department.name}}</a
                >
            </div> 
        </div>
        <div class="col-6">
            <div style="padding-bottom: 15px">
                <p-breadcrumb [model]="breadcrumbArray"></p-breadcrumb>
            </div>
            <mat-grid-list cols="4" rowHeight="1:1">
                <mat-grid-tile 
                *ngFor = "let subcategory of subcategories" 
                [routerLink] = "[subcategory.name]"
                [style.background]="'#BDBDBD'"
                style="font-size: 18px"
                >
                {{subcategory.name}}
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div *ngIf="loginService.getPriviledge() === 1 else elseTemplate" class="col" style=" text-align:center ">
            <div
            style="margin: 50% 20% 10% 20%">
                <p-button [routerLink]="['editCategory']" label ="Edit Category"></p-button>
            </div>

            <div
            style="margin: 10% 20% 10% 20%">
                <p-button label ="Add Subcategory" [routerLink]="['addSubcategory']"></p-button>
            </div>
            <div
            style="margin: 10% 20%">
                <p-button label ="Move Category" [routerLink]="['moveCategory']"></p-button>
            </div>
        </div>
        <ng-template #elseTemplate>
            <div class="col"></div>
        </ng-template>
        
    </div>
</div>
 