<h2><label>Departments</label></h2>

<p-table [value]="departments">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-department>
        <tr>
            <td> <a [routerLink]="[department.name]">{{department.name}}</a></td>
        </tr>
    </ng-template>
</p-table>
<br>
<p-button label="Add Department" styleClass="ui-button-info" routerLink="add-department"></p-button>
