<h2><label>Departments</label></h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <mat-grid-list cols="4">
                <mat-grid-tile class="mat-grid" *ngFor="let department of departments" routerLink="{{department.id}}">
                    {{department["name"]}}
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="col-4">
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <p-button label="Add Department" styleClass="ui-button-info" routerLink="/department/addDepartment">
            </p-button>
        </div>
    </div>
</div>