<p>receive-acquisition works!</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <label> Acquisition #:</label>
        </div>
        <div class="col-5">

        </div>
        <div class="col-3">
            <label>Donor:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label>Type:</label>
        </div>
        <div class="col-5">

        </div>
        <div class="col-3">
            <label>Primary Contact:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label>Status:</label>
        </div>
        <div class="col-5">

        </div>
        <div class="col-3">
            <label>Phone:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <label>Date:</label>
        </div>
        <div class="col-5">
        </div>
        <div class="col-3">
        </div>
    </div>
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-5">
            <h2>Receive Acquisition</h2>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>