<div class="container-fluid">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <h2>Acquisition</h2>
        </div>
        <div class="col-4">
        </div>
    </div>
    <br>
    <br>
    <form [formGroup]="checkSearchForm" (ngSubmit)="search(checkSearchForm.value)">
        <div class="row">
            <div class="col-3">
                <label>Acquisition#:</label>
                <input type="text" formControlName="acquisitionID">
            </div>
            <div class="col-3">
                <label>Name:</label>
                <input type="text" formControlName="name">
            </div>
            <div class="col-3">
                <label>Type:</label>
                <p-dropdown formControlName="type" [options]="acquisitionTypes"></p-dropdown>
            </div>
            <div class="col-3">
                <label>Phone:</label>
                <input type="text" formControlName="phone">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3">
                <label>Status:</label>
                <p-dropdown formControlName="status" [options]="acquisitionStatus"></p-dropdown>
            </div>
            <div class="col-1"></div>
            <div class="col-2">
                <p-button type="submit" label="Search"></p-button>
            </div>
        </div>
    </form>
    <br>
    <br>
    <p-table [value]="acquisitions" *ngIf="!isSearch">
        <ng-template pTemplate="header">
            <tr style="text-align: center">
                <th>Acq#</th>
                <th>Type</th>
                <th>Donor</th>
                <th>Primary Contact</th>
                <th>Phone</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr style="text-align: center">
                <td [routerLink] = "[item.id]"
                    style="color:blue"
                > {{item.id }}</td>
                <td>
                    <label *ngIf="item.type===1">
                        Drop Off
                    </label>
                    <label *ngIf="item.type===2">
                        Pick Up
                    </label>
                    <label *ngIf="item.type===3">
                        Decon
                    </label>
                </td>
                <td> {{ item.donor }} </td>
                <td> {{ item.contact }} </td>
                <td> {{ item.phone }} </td>
                <td>
                    <label *ngIf="item.status===1">
                        Expected
                    </label>
                    <label *ngIf="item.status===2">
                        Partially Received
                    </label>
                    <label *ngIf="item.status===3">
                        Completed
                    </label>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-table [value]="showAcquisitions" *ngIf="isSearch">
        <ng-template pTemplate="header">
            <tr style="text-align: center">
                <th>Acq#</th>
                <th>Type</th>
                <th>Donor</th>
                <th>Primary Contact</th>
                <th>Phone</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr style="text-align: center">
                <td [routerLink] = "[item.id]"
                    style="color:blue"
                > {{item.id }}</td>
                <td>
                    <label *ngIf="item.type===1">
                        Drop Off
                    </label>
                    <label *ngIf="item.type===2">
                        Pick Up
                    </label>
                    <label *ngIf="item.type===3">
                        Decon
                    </label>
                </td>
                <td> {{ item.donor }} </td>
                <td> {{ item.contact }} </td>
                <td> {{ item.phone }} </td>
                <td>
                    <label *ngIf="item.status===1">
                        Expected
                    </label>
                    <label *ngIf="item.status===2">
                        Partially Received
                    </label>
                    <label *ngIf="item.status===3">
                        Completed
                    </label>
                </td>
            </tr>
        </ng-template>
    </p-table>  
</div>