<div class="container" style="text-align:center; width: 50%; margin-top: 10%; margin-bottom: 10%;" >  
    <div style=" border-radius: 20px; text-align:center; background-color:#bdbdbd; margin:auto; padding: 20px;">
        <div class="contact2-form-title">
            <label style="font-size: 28px;">Add Subcategory</label>
        </div>
        <div style="width: 70%; margin: 10px 15% 10px 15%;">
            <p-breadcrumb class="ui-breadcrumbui-menuitem" [model]="breadcrumbArray" ></p-breadcrumb>
        </div>
        <form [formGroup]="profileForm" (ngSubmit)="submit(profileForm.value)">

            <div> 
                <input pInputText type="text" formControlName="Name" placeholder="Name">
            </div>
            <div> 
                <input pInputText type="text" formControlName="Description" placeholder="Description">
            </div>
            <div>
                <input pInputText type="number" formControlName="UniqueTag" placeholder="UniqueTag">
            </div>

            <div style="margin: 20px 0px 20px 0px;">
                <button mat-flat-button color="primary" style="width: 34%; margin: 0px 2% 0px 2%;" >Save</button>
                <button mat-flat-button color="Basic" style="width: 34%; margin: 0px 2% 0px 2%;" (click) = "backToItemList()">Cancel</button>
            </div>
        </form>
    </div>
</div>